<html>
    <head>
        <title>Search engine of words</title>
    </head>
    <body>
    <h2 style="background-color: cornflowerblue; color: aliceblue;">
    <center>
    Bienvenido al buscador de palabras de twitter, escribe la frase que desea buscar
    </center>
    </h2>
    <!-- {% include "bar.html" %} -->
    <form action="/search/" method = "GET">
        <center>
         <input type = "text" name = "tweet" style="width:400px; height: 25px; margin-bottom: 8;"><br>
         <input type = "submit" value = "Buscar" style="width: 100px; height: 22;">
        </center>
    </form>
    <h3>Resultado de la búsqueda</h3>
    <style>
        table{
            margin-top: 20px;
            border-collapse: collapse;
            border-radius: 2px;
            background-color: #d7e3fa;
        }
        td, th{
            border: 2px solid black;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    </style>
    <p>
        <table>
            <tr>
                <th>Tweet</th>
                <th>ID-Score</th>
            </tr>
            {% for key, value in Tweets.items %}
            <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
            </tr>
            <tr>
                <td></td>
            </tr>
            {% endfor %}
        <tr></tr>
        </table>
    </p>
    </body>
</html>